* {
  padding: 0;
  margin: 0;
}
/* body{
     display: flex;
  justify-content: center;
} */

.dropdownOrder {
  height: 26px;
  background-color: white;
}

.cardHomeSmall {
  display: flex;
  gap: 10px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.081);
  margin: 10px;
  text-align: justify;
  max-height: 200px;
  max-width: 450px;
}
.cardHomeSmall .card-img {
  max-width: 40%;
  height: auto;
}

.cardMain {
  display: flex;
  justify-content: center;
}
.card-holder {
  max-width: 500px;
}

.articleMain {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-width: 900px;
}

#articlesList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.articleH2 {
  text-align: center;
  margin-bottom: 40px;
}
